body, input {
    font-family: 'Average', serif;
    color: #0B0500;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Fjalla One', sans-serif;
}

.alert-space {
    margin-top: 120px;
    padding-top: 20px;
}

.btn {
    font-family: 'Fjalla One', sans-serif;
}

.header {
    background: #42CAFD;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}


.header .add-contact {
    border: 1px solid #fff;
}

.header small {
    color: #eee;
}

.search-box .input-group-addon{
    background: #42CAFD;
    color: #fff;
    /*border-color: #fff ;*/
}

.filter-bar {
    background: #0D86BA;
}

.form-inline {
    margin: 10px 0;
}

.contact-row {
    cursor: pointer;
    position: relative;
}

.contact-row td {
    padding: 15px 10px !important;
}

.trash-button {
    display: none;
}

.contact-row:hover .trash-button {
    display: block;
}

.help-block {
    color: #aaa;
}

.modal-header {
    background: #42CAFD;
}

.required {
    color: #FE5E41;
}

.danger {
    background: #FE5E41;
    color: #fff;
}

.contact-row .row {
    margin-bottom: 10px;
}

.trash-action {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    font-size: 150%;
    margin: 10px;
    padding: 10px;
}

.trash-action:hover .trash-button {
    color: #FE5E41;
}

@media screen and (max-width: 767px) {
    .alert-space {
        margin-top: 190px;
        padding-top: 20px;
    }
    .add-contact {
        margin-bottom: 10px;
    }
    .contact-row .row {
        margin-bottom: 0;
    }
    .contact-row .row .col-xs-12 {
        margin-bottom: 10px;
    }
}
